<form  method="post">
  <label for="fname">Codigo De Area :</label><br>
  <input type="text" placeholder="Codigo De Area "><br>
  <label for="lname">Nombre De Area :</label><br>
  <input type="text" placeholder="Nombre de Area"<br><br>
  <input type="submit" value="crear">
</form>